<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Local Packages" value="C:\LocalData\demorti\packages" />
  </packageSources>
  
  <packageSourceMapping>
    <packageSource key="Local Packages">
      <package pattern="JDPlus.WS.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>